h1 {
  margin-top: 110px;
  color: tomato;
  font-size: 30px;
}
h2 {
  color: tomato;
  font-size: 18px;
}
.updated {
  font-size: 15px;
  color: #888;
}
.privacypolicy li:hover {
  color: black;
  transform: none;
}
