.privacypolicy h1 {
  margin-top: 110px;
  color: tomato;
  font-size: 35px;
  display: flex;
  justify-content: center;
}

.privacypolicy .updated {
  font-size: 15px;
  color: gray;
  display: flex;
  justify-content: right;
}

.privacypolicy h2 {
  color: tomato;
  font-size: 18px;
}

.privacypolicy li:hover {
  color: black;
  transform: none;
}
