.navbar {
  padding: 0px 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-weight: 500;
  z-index: 1;
}

.dark-nav {
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: 0.5s ease-in-out;
}

.navbar .logo {
  width: 150px;
}

.navbar .logo:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 40px;
  color: #49557e;
  font-size: 20px;
}

.navbar-menu li {
  cursor: pointer;
}

li:hover {
  color: tomato;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar-basket-icon {
  position: relative;
}

.navbar-basket-icon:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.navbar-basket-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: #ff4c24;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

.navbar-right button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 10px 50px 10px 50px;
  cursor: pointer;
}

.navbar-right button:hover {
  background: rgba(255, 99, 71, 0.358);
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
}

.navbar-profile {
  position: relative;
}

.navbar-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
}
.navbar-profile-dropdown:hover {
  transition: 3s;
}

.navbar-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.navbar-profile-dropdown img {
  width: 20px;
}

.navbar-profile-dropdown li:hover {
  color: #ff4c24;
}

.navbar-profile:hover .navbar-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff2ef;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid tomato;
  outline: 2px solid white;
  list-style: none;
}

.navbar-profile hr {
  background-color: gray;
  height: 1px;
  border: none;
}

/* -----Media Query----- */

@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }

  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }

  .navbar-right {
    gap: 30px;
  }

  .navbar-right img {
    width: 22px;
  }

  .navbar-right button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }

  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }

  .navbar-right {
    gap: 20px;
  }

  .navbar-right img {
    width: 20px;
  }

  .navbar-right button {
    font-size: 15px;
    padding: 7px 20px;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
}
