.login-popup {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  top: 70px;
}
.login-popup-container {
  place-self: center;
  transform: translate(9px, -9%);
  width: max(23vw, 330px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 10px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}
.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.login-popup-title img {
  width: 16px;
  cursor: pointer;
}
.login-popup-title img:hover {
  transform: scale(1.3);
  transition: 0.5s;
}
.login-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-popup-inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
}
.login-popup-inputs input:hover {
  border: 1px solid tomato;
}
.login-popup-container button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: #ff4c24;
  font-size: 15px;
  cursor: pointer;
}
.login-popup-container button:hover {
  transform: scale(0.96);
  transition: 0.5s;
}
.login-popup-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;
}

.login-popup-condition input {
  margin-top: 5px;
}

.login-popup p span {
  color: #ff4c24;
  font-weight: 500;
  cursor: pointer;
}
