.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: -80px;
}
.explore-menu h1 {
  font-weight: 500;
}
.explore-menu-text {
  max-width: 100%;
  color: #49557e;
}

.explore-menu-list {
  position: relative;
  overflow-x: auto;
  display: flex;
  gap: 40px;
  scroll-behavior: smooth;
  margin: 20px 0;
  padding: 0 20px;
  mask-image: linear-gradient(
    to right,
    transparent 0px,
    black 40px,
    black calc(100% - 40px),
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0px,
    black 40px,
    black calc(100% - 40px),
    transparent 100%
  );
}

.explore-menu-list::-webkit-scrollbar {
  display: none;
}
.explore-menu-list-item img {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
}
.explore-menu-list-item .active {
  border: 4px solid tomato;
  padding: 2px;
}
.explore-menu-list-item p {
  margin-top: 10px;
  color: #49557e;
  font-size: max(1.4vw, 16px);
  cursor: pointer;
  justify-content: center;
  display: flex;
}

.explore-menu-list-item p:hover {
  color: tomato;
  transition: 0.3s;
  transform: scale(1.1);
}

.explore-menu hr {
  margin: 10px 0px;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}

/* -----Media Query----- */

@media (max-width: 1050px) {
  .explore-menu-text {
    max-width: 100%;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .explore-menu-list {
    scrollbar-width: thin;
  }

  .explore-menu-list::-webkit-scrollbar {
    height: 6px;
  }

  .explore-menu-list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }

  .explore-menu-list::-webkit-scrollbar-track {
    background: transparent;
  }
}
